# Environment
NODE_ENV=development

# Server
PORT=5000

# MongoDB
MONGO_URI=mongodb://localhost:27017/proshop

# JWT
JWT_SECRET=your_jwt_secret_key_here

# PayPal
PAYPAL_CLIENT_ID=your_paypal_sandbox_client_id_here
